h1{color:white;
    text-align: center;
    font-size: 50px;
    padding-left: 10px;
    }
    
    body{background-image: linear-gradient(to right,#091233,#949c9f);
        font-family: helvetica;
    }
    
    p{color: white;
        font-weight: bolder;
        font-size: 35px;
        text-align: center;
    
    }
    
    input{ width:250px;
        height:27px;
        color: white;
        border:solid black 3px;
        background: #453a4c;
        font-size: 16px;
        
    }
    
    
   
    button{background-color: orange;
        color: black;
        font-weight: bold;
        border-radius:5px;
        width:300px;
        height: 100px;
        font-size: 30px;
        display: block;
            margin: 0 auto;
    }

    label{color: white;
        font-family: 'Franklin Gothic Medium';
        font-size:34px;
    }

    input#tecou{width:200px;
            height:15px;
            color: white;
            border:solid black 3px;
            background: #453a4c;
            text-align: center;
            font-size: 40px;
            display: block;
            margin: 0 auto;
            
    }
    h2{color:white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        } 
    /* span.dias{color: white;
        font-weight: bolder;
        font-size: 17px;
    } */